<!-- particles.js container -->
<div class="content">
  <div class="name">
    <h1>Travis Tillotson</h1>
    <h4>Software Developer</h4>
    <div class="profile-pic">
      <img src="../images/profile.jpeg">
    </div>
  </div>
  <div class="content-list">
    <ul class="list-inline">
      <li><a href="https://github.com/Opus1no2" target="_blank" ><i class="fa fa-github fa-5x"></i></a></li>
      <li><a href="https://www.linkedin.com/pub/travis-tillotson/19/106/2b2" taget="_blank"><i class="fa fa-linkedin fa-5x"></i></a></li>
      <li><a href="mailto:tillotson.travis@gmail.com"><i class="fa fa-envelope-o fa-5x"></i></a></li>
    </div>
</div>
<div id="particles-js"></div>
